* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}   

html {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Prompt', sans-serif;
}

body {
    background-color: white;
}

header {
    background-color: black;
    min-height: 30vh;
}

.logo {
    border-radius: 4rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: auto;
    margin: 10px;
    z-index: 1000;
}

header h1 {
    text-align: center;
    padding: 3rem 2rem;
    color: white;
}

nav ul li a {
    position: relative;
    bottom: 22px;
    float: right;
    font-size: 18px;
    padding: 15px;
    color: #ffffff;
    display: block;
}

nav ul li a:hover {
    color: #806D61;
}

main  {
    width: 800px;
    margin: 0 auto;
    margin-top: 25px;
    text-align: justify;
    font-size: 18px;
}

.parrafo {
    margin-top: 22px;
}

main h2 {
    text-align: center;
    margin-bottom: 25px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 30px;
    padding: 1rem;
}



